$aspect_ratio__logo: 389 / 255;

$height-header: 110px;
$height-header-tablet: '#{$height-header / 2} + 0.5rem';
$height-nav-carousel-contact: 3rem;
$width-slider-nav: 1400px;
$width-container: 1200px;
$width-tablet: 768px;
$width-phone: 480px;

$color__body: #000000;
$color__text: #E8E8E8;
$color__link__mid: #8E8E8E;
$color__header: mix($color__text, $color__body, 25%);
$color__highlight__text: #070707;