$aspect_ratio__logo: 389 / 255;

$height-header: 110px;
$height-header-tablet: '#{$height-header / 2} + 0.5rem';
$height-nav-carousel-contact: 3rem;
$width-carousel-contact: 1400px;
$width-container: 1200px;
$width-tablet: 768px;
$width-phone: 480px;