$height__header: 110px;
$height__header__tablet: '#{$height__header / 2} + 0.5rem';
$width__nav__slider: 1400px;
$width__container: 1200px;
$width__tablet: 768px;
$width__phone: 480px;

$color__body: #000000;
$color__text: #E8E8E8;
$color__link__mid: #8E8E8E;
$color__header: mix($color__text, $color__body, 25%);
$color__highlight__text: #070707;