<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description"
        content="Mission: Expand Consciousness. Musing about Philosophy, Linguistics, Programming, &amp; Engineering.">
  <meta name="viewport" content="width=device-width">
  <meta property="og:url" content="http://www.briantakita.com">
  <meta property="og:title">
  <meta property="og:description" content="Mission: Expand Consciousness">
  <meta property="og:image" content="">
  <title>Brian Takita</title>
  <link rel="alternate" href="/feed.xml" type="application/rss+xml" title="Mission: Expand Consciousness">
  <link rel="stylesheet"
        href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400|Anonymous+Pro:400,700,400italic,700italic">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="{{bodyclass}}">
<header class="header">
  <div class="content-wrap">
    <div class="logo"><h1><a href="/">Brian Takita</a></h1>
      <p class="description">Mission: Expand Consciousness</p>
      {{{subheader}}}
    </div>
  </div>
</header>
<div id="content">
  <div class="content-wrap">
    {{yield}}
  </div>
</div>
<footer>
  <div class="content-wrap">
    {{{prepend__footer}}}
    <div class="nav"><a href="/archive">« Archives</a></div>
    <section class="about"><p>Brian Takita seeks to expand consciousness within himself &amp; with people around
      him.</p>
    </section>
    <section class="links"><p>##Brian Takita online:</p>
      <ul>
        <li><a href="http://about.me/brian_takita">about.me</a></li>
        <li><a href="http://www.linkedin.com/in/briantakita">LinkedIn</a></li>
        <li><a href="https://github.com/btakita">Github</a></li>
        <li><a href="https://www.facebook.com/brian.takita.creations">Facebook - Fan Page</a></li>
        <li><a href="https://www.facebook.com/brian.takita">Facebook - Personal</a></li>
        <li><a href="http://briantakita.brandyourself.com/">BrandYourself</a></li>
        <li><a href="https://twitter.com/briantakita">Twitter</a></li>
        <li><a href="http://briantakita.wordpress.com/">Wordpress Blog</a></li>
        <li><a href="http://briantakita.tumblr.com/">Tumblr Blog</a></li>
        <li><a href="https://plus.google.com/1050179096794581818251">Google+</a></li>
        <li><a href="https://www.quora.com/Brian-Takita">Quora</a></li>
        <li><a href="http://pivotallabs.com/author/brian/">Pivotal Labs</a></li>
      </ul>
    </section>
    <section class="feed"><a href="/feed.xml"><img src="/images/Feed-icon.svg" alt="Atom Feed"></a></section>
  </div>
  <section class="copy"><p>&copy; 2017 Brian Takita</p></section>
</footer>
<script type="text/javascript">(function (i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r;
  i[r] = i[r] || function () {
    (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date();
  a = s.createElement(o), m = s.getElementsByTagName(o)[0];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-43791623-1', 'briantakita.com');
ga('send', 'pageview');
console.log("Loaded Google Analytics");</script>
</body>
</html>