
extends layout

//- this logic should be moved to a view at some point

block content
  - var lineHeight = 2.2;
  - var archive = _.chain(posts).groupBy(function(post) {
  -   return post.date.getFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  section.archive
    h2 Archive
    ul
      - var years = _.chain(archive).keys().reverse().value()
      each year, i in years
        - var h = archive[year].length * lineHeight;
        - var last = (years.length - 1 == i);
        li.year(style='height: '+h+'em')
          span.year-label(style='line-height: '+h+'em', class=(last?'last':''))= year
          - var yearPosts = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
          - var months = Object.keys(yearPosts);
          ul
            each month, i in months
              - var posts = yearPosts[month]
              - h = posts.length * lineHeight;
              - var lastM = last && (months.length - 1 == i);
              li.month(style='height: '+h+'em')
                span.month-label(style='line-height: '+h+'em', class=(lastM?'last':''))= month
                each post, i in posts
                  - var lastA = lastM && (posts.length - 1 == i);
                  a(href=post.url, style='line-height: '+lineHeight+'em', class=(lastA?'last':''))= post.title

