h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre {
  margin: 0;
  padding: 0;
  border: 0;
}
p {
  margin-bottom: 1.52em;
}
h1 {
  font-size: 2em;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.43;
}
h3 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.8em;
}
blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic;
}
hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 1.6em 0;
}
iframe {
  display: block;
  margin: 0 auto;
}
